<footer class="my-8 mx-auto text-center border-t border-stone-200 pt-8 max-w-2xl px-4" role="contentinfo">
  <nav>
    <p class="font-serif text-sm italic text-stone-500 mb-4">&copy; {{ utils.generated_year }} {{ site.owner.name }}. Powered by <a href="https://www.eleventy.dev/" target="_blank" class="hover:text-stone-700">Eleventy</a>.</p>
    <div class="flex justify-center gap-6">
      <a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank" class="text-stone-500 hover:text-stone-700">
        <span class="icon-[tabler--brand-twitter-filled] size-8"></span>
      </a>
      <a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank" class="text-stone-500 hover:text-stone-700">
        <span class="icon-[tabler--brand-github-filled] size-8"></span>
      </a>
    </div>
  </nav>
</footer>
