<footer class="footer footer-center p-10 m-">
	<nav>
		<div class="bg-base-content/10 mx-1 mt-10 mb-5 w-full h-[var(--border)]"></div>
		<h5 class="font-[volkhov]"><em>&copy; {{ utils.generated_year }} {{ site.owner.name }}. Powered by <a href="https://www.eleventy.dev/" target="_blank">Eleventy</a></em>.</h6>
		<div class="grid grid-flow-col justify-center gap-4">
			<a href="https://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
				<img class="max-w-[50px]" src="/img/social/twitter.png" alt="Twitter Icon">
			</a>
			<a href="https://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
				<img class="max-w-[50px]" src="/img/social/github.png" alt="GitHub Icon">
			</a>
		</div>
	</nav>
</footer>

