<!doctype html>
<head>
{% include head.html %}
<meta name="author" content="Chinmay">
<link rel="stylesheet" href="assets/css/style.min.css">
<link href='https://fonts.googleapis.com/css?family=Bevan|Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body id="page" class="bt-5 border-stone-900">
<div id="main" role="main">
  <article class="entry">
    <div class="entry-wrapper">
      <div class="entry-content">
        {{ content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

{% include footer.html %}

</body>
</html>
