---
permalink: "/{{ page.fileSlug }}.html"
---

<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include head.html %}
  {% if page.hasjax %}
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
  {% endif %}
</head>

<body id="page" class="border-t-5 border-solid border-stone-900">

  {% include navigation.html %}

  {% include hero.html %}

  <div>
    <article>
      <div class="max-w-5xl mx-auto pt-8">
        <header>
          <h1 class="text-7xl font-['serif'] italic tracking-tight mb-6 mt-6">{{ title }}</h1>
        </header>
        <div class="flex">
          <div class="px-4 flex flex-col gap-2">
            <img src="{{ site.url }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }} photo" class="rounded-full">
            <span class="border-b-1 border-stone-200">
                By <a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>
            </span>
            </span>
            <span class="border-b-1 border-stone-200">
              <time datetime="{{ page.date | date_to_xmlschema }}">
                <i class="icon-calendar-empty"></i> {{ page.date | date: "%B %d, %Y" }}
              </time>
            </span>
            {% if site.disqus_shortname and page.comments %}
            <span class="border-b-1 border-stone-200">
              <i class="icon-comment-alt"></i>
              <a href="#disqus_thread">Comment</a>
            </span>
            {% endif %}
            <span class="border-b-1 border-stone-200">
              <a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">
                <i class="icon-link"></i> Permalink
              </a>
            </span>
          </div>
          <div class="flex-1">
            <div class="w-full text-xl content">
              {{ content }}
            </div>
            {% if site.disqus_shortname and page.comments %}
              <div id="disqus_thread"></div>
            {% endif %}
          </div>
        </div>
      </div>
      <nav class="pagination" role="navigation">
        {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
        {% endif %}
        {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
        {% endif %}
      </nav><!-- /.pagination -->
    </article>
  </div><!-- /#main -->

  {% include footer.html %}
</body>
</html>
